.containerHomepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.containerSelector {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.nomesite,
.span {
    margin: .75em 0;
    color: #867E7E;
}
.taga {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}