.containerHomepage {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}

.navegadorEntreAbas {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: .55em 0;
}

.navegadorEntreAbas button {
    background-color: antiquewhite;
    border: none;
}

.navegadorEntreAbas button img {
    width: 32px;
    height: auto;
}