.containerPageLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.containerPageLogin p {
    margin-top: 1em;
}
.nome{
    font-weight: 700;
    color: #867E7E;
}
.dados{
    font-weight: 300;
}

.dados {
    margin: .75em 0;
    color: #867E7E;
}


.containerPageLogin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.containerinputs{   
    width: 100%;
    display: flex;
    align-items: center;
    
}

.containerPageLogin input {
    border-radius: 0.3em;
    border: 1px solid rgb(246, 206, 206);
    padding: .56em;
}

.btn {
    background-color: rgb(106, 251, 251);
    border: none;
    padding: 0.33em 1em;
    font-size: 1.5em;
    border-radius: .25em;
    font-weight: 500;
    cursor: pointer;
}
.btn:disabled{
    background-color: #ffe0e0;
    color: #867E7E;
}
.criarconta{
    border: none;
    margin-top: 1em;
    background-color: white;
    color: blue;
    cursor: pointer;
}
.mensagemsenhaerrada{
    font-size: .75em;
    color: red;
}