.containerHomepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

.containerSelector {
    width: 100%;
    margin: 1em 0 2em 0;
    max-width: 480px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nomesite{
    font-weight: 700;
}
.span{
    font-weight: 300;
}
.nomesite,
.span {
    margin: 1em 0;
    color: #867E7E;
}

.taga {
    cursor:pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 1em;
}


.containerPageLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.containerPageLogin p {
    margin-top: 1em;
}
.nome{
    font-weight: 700;
    color: #867E7E;
}
.dados{
    font-weight: 300;
}

.dados {
    margin: .75em 0;
    color: #867E7E;
}


.containerPageLogin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.50em;
}

.containerinputs{   
    width: 100%;
    display: flex;
    gap:1em;
    align-items: center;
    
}
.containerinputs img{
    width: 30px;
    height: auto;
}
.containerPageLogin input {
    border-radius: 0.3em;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.303) 0px 7px 29px 0px;
    padding: .60em;
}

.btn {
    background-color: rgb(106, 251, 251);
    border: none;
    padding: 0.33em 1em;
    font-size: 1.5em;
    border-radius: .25em;
    font-weight: 500;
    cursor: pointer;
}
.btn:disabled{
    background-color: #ffe0e0;
    color: #867E7E;
}
.criarconta{
    border: none;
    margin-top: 1em;
    background-color: white;
    color: blue;
    cursor: pointer;
}
.mensagemsenhaerrada{
    font-size: .75em;
    color: red;
}
.selecionado{
    border-radius: .25em;
    box-shadow: rgba(100, 100, 111, 0.303) 0px 7px 29px 0px;
}