.cabecalhoperfil {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cabecalhoperfilItem,
.navbarIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbarIn a{
    text-decoration: none;
    color: black;
}