@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
html, body{
    overflow-x: hidden;
}
body{
    font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  
    width: 100%;
    height: 100%;
   background-color: black; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
}  
.navBar{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
h1{
    margin-top: 1em;
    font-size: 2em;
}
h1 span{
    color: red;
}
main {

    box-sizing: border-box; 
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px 0;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
.swiper-slide img {
    max-width: 60%;
    height: auto;
    border-radius: .55em;
    height: auto;
}
  
.conteiner{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.selecioneAss{
    font-weight: 400;
    font-size: 2em;
    margin-top: .5em;
    margin-left: 1em;
}
.card{
    margin-top: 2em;
   padding: 1em 0;
   border-radius: .25em;
   box-shadow: rgba(255, 255, 255, 0.157) 0px 0px 0px 1px;
}
.card-container-one{
    align-items: center;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
}
.card-container-one h2{
    font-weight: 700;
}
.card-container-one p{
    font-weight: 700;
    color: black;
    padding: 0.4em 0.32em;
    background-color: white;
    border-radius: .5em;
    margin-bottom: 1em;
}
.container-precos{
    font-weight: 400;
    font-size: 1.2em;
    justify-content: center;
    gap: 2em;
    display: flex;
    align-items: center;
    margin-bottom: .51em;
}

.price{
    display: flex;
    flex-direction: column;
    gap: .3em;
}
.price span{
    color: rgba(255, 255, 255, 0.6);
    font-size: .8em;
    margin-left: 0.7em;
    text-decoration: line-through;
}
.dsc{
    color: rgb(80, 197, 80);
    border: 1px solid rgb(80, 197, 80);
    border-radius: 1em;
    padding: .23em .33em;
}

.card-container-two p{
    font-size: 0.6em;
    text-align: center;
    margin-bottom: 5em;
}

.comprar{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: .3em;
    padding: 1em 0;
    background-color: red;
    font-weight: 300;
    font-size: 1.4em;
    color: white;
}
.last-div h4{
    font-size: .85em;
    margin-bottom: .4em;
}
.last-div h4 span{
    color: red;
}
.last-div p{
    font-size: .55em;
}
.footer {
    width:80%;
    font-size: .51em;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
}

.footer a {
    color: #ff6347;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}